.div_table_h1{
			
    font-family: fantasy;
    border: solid;
    border-radius: 15px 15px;
    border-color: black;
    background-color: rgba(50, 230, 100, 40%);
}

.div_table_form{
    padding: 45% 50%;
    position: absolute;
    height: 100px;
    width: 200px;
}

.input_text{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: solid;
    box-sizing: border-box;
    margin: 10px 10px 10px 10px;
    position: relative;
}
.input_text:focus{

    border-color: red;

}
.input_button{
    border-radius: 15px 15px;
    background-color: white ;
    box-shadow: 2px 2px 10px black;
    margin: 40px 10px 10px 60px;
    width: 100px;
    height: 50px;
    font-size: 25px;
    font-family: cursive;
    transition: margin 0.5s
    ,box-shadow 0.5s
    , background-color 0.5s;
}
.input_button:hover {

margin: 50px 10px 10px 60px;
background-color: silver;
box-shadow: 1px 1px 0px black;
transition: margin 0.5s
, box-shadow 0.5s
, background-color 0.5s;

}
.table_button-link{

    border-radius: 15px 15px;
    background-color: white ;
    box-shadow: 2px 2px 10px black;
    margin: 40px 10px 10px 60px;
    width: 100px;
    height: 50px;
    font-size: 25px;
    font-family: cursive;
    transition: margin 0.5s
    ,box-shadow 0.5s
    , background-color 0.5s;

}