<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Main Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

    <nav>
        <div> 
            <table border="solid" style="table-layout: fixed; width: 100%;">
                <tr> 
                    <td>
                        <h1><a href="./index.html">Welcome</a></h1>
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>
                        <button class="table_button-link">Sign In</button>
                    </td>
                </tr>
            </table>
        </div>
    </nav>
    <article>

    </article>
    <aside>

    </aside>
    <footer>

    </footer>
</body>
</html>