<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="tr">
<head>
<meta charset="UTF-8"/>
<title>Main Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" th:href="@{/css/pages.css}"/>
<script th:src="@{/js/index.js}" type="module" defer></script>
</head>
<body>

    <nav>
        <div>
            <table style="table-layout: fixed; width: 100%;border: solid;display: flex;justify-content: center;">
                <tr>
                    <td>
                        <h1><a id="link_to_index" th:href="@{/}">Welcome</a></h1>
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>
                        <a id="log_in_button" th:href="@{/logIn}">
                            <button >Log In</button>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </nav>
    <div style="display: flex; justify-content: start; gap: 10px;">
        <p>Search By Name</p>
        <textarea id="search_field" style="resize: none;"></textarea>
    </div>
    <article id="blogs" style="display: flex; flex-direction: column;">

    </article>
    <aside>

    </aside>
    <footer>

    </footer>
</body>
</html>