<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initil-scale=1.0">
        <title>Register</title>
        <link rel="stylesheet" href="../static/css/styles.css">
        <script src="../static/js/registerPage.js" defer></script>
    </head>

    <body>

        <div class="div_table_form input_text">

            <form action="">
                <table id="register_form_table">
                    <tr><td><input id="name_textarea" type="text" name="name" title="name" placeholder="*Name" required></td></tr>
                    <tr><td><input id="surname_textarea" type="text" name="surname" title="surname" placeholder="Surname"></td></tr>
                    <tr><td><input id="username_textarea" type="text" name="username" title="username" placeholder="*Username" required></td></tr>
                    <tr><td><input id="email_textarea" type="email" name="email" title="email" placeholder="*Email" required></td></tr>
                    <tr><td><input id="password_textarea" type="password" name="password" title="password" placeholder="*Password" required></td></tr>
                    <tr><td><input id="c_password_textarea" type="password" name="confirm_password" title="confirm_password" placeholder="*Password Again" required></td></tr>
                    <tr><td><input id="submit_button" class="input_button" type="submit" value="Register" ></td></tr>
                </table>
            </form>

        </div>

    </body>
</html>