<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>

    <body>

        <div>

            <form action="">
                <table style="table-layout: fixed; width: 40%;">
                    <tr><td>*Name:</td><td><input type="text" name="name" title="name" required></td></tr>
                    <tr><td>Surname:</td><td><input type="text" name="surname" title="surname"></td></tr>
                    <tr><td>*Username:</td><td><input type="text" name="username" title="username" required></td></tr>
                    <tr><td>*Email:</td><td><input type="email" name="email" title="email" required></td></tr>
                    <tr><td>*Password:</td><td><input type="password" name="password" title="password" required></td></tr>
                    <tr><td>*Confirm Password:</td><td><input type="password" name="confirm_password" title="confirm_password" required="adad"></td></tr>
                    <tr><td></td><td><input type="submit" value="Register" ></td></tr>
                </table>
            </form>

        </div>

    </body>
</html>