<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="tr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initil-scale=1.0">
        <title>Register</title>
        <link rel="stylesheet" th:href="@{/css/logInOut.css}">
        <script th:src="@{/js/registerPage.js}" defer></script>
    </head>

    <body>
        <div class="div_centered" style="min-height: 50vh;">
            <div class="div_table_form input_text center_page">

                <table>
                    <tr><td><h1 class="div_table_h1">Register</h1></td></tr>
                    <tr><td>
                        <form action="">
                            <table id="register_form_table">
                                <tr><td><input id="name_textarea" type="text" name="name" title="name" placeholder="*Name" required></td></tr>
                                <tr><td><input id="surname_textarea" type="text" name="surname" title="surname" placeholder="Surname"></td></tr>
                                <tr><td><input id="username_textarea" type="text" name="username" title="username" placeholder="*Username" required></td></tr>
                                <tr><td><input id="email_textarea" type="email" name="email" title="email" placeholder="*Email" required></td></tr>
                                <tr><td><input id="password_textarea" type="password" name="password" title="password" placeholder="*Password" required></td></tr>
                                <tr><td><input id="c_password_textarea" type="password" name="confirm_password" title="confirm_password" placeholder="*Password Again" required></td></tr>
                                <tr><td><input id="submit_button" style="width: max-content;" class="input_button" type="submit" value="Register" ></td></tr>
                                <tr><td><p id="message" style="color: red;"></p></td></tr>
                                <tr><td><p class="div_p-bottom">Have an account? <a th:href="@{/logIn}">Log In</a></p></td></tr>
                            </table>
                        </form>
                    </td></tr>
                </table>
            </div>
        </div>
    </body>
</html>