<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="UTF-8">
	<title>User Not Found 404</title>
	<style>
	
		h1 {
			background-color: white;
			font-family: monospace;
			border-radius: 10px;
			border-style: solid;
			border-width: 1px;
			border-color: blue;
			padding: 1px 2px 1px 2px;
			transition: box-shadow 0.2s;
			transition-timing-function: ease-out;
		}
		h1:hover{
			
			box-shadow: 0px 2px 1px 0px;
			transition: box-shadow 0.15s;
			transition-timing-function: ease-in;
		}
	
	</style>
</head>
<body>

	<h1>User Not Found</h1>

</body>
</html>